@font-face {
    font-family: 'Titillium Text';
    src: font-url('titilliumtext22l003-webfont.eot');
    src: font-url('titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('titilliumtext22l003-webfont.woff') format('woff'),
         font-url('titilliumtext22l003-webfont.ttf') format('truetype'),
         font-url('titilliumtext22l003-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Titillium Text';
    src: font-url('titilliumtext22l002-webfont.eot');
    src: font-url('titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('titilliumtext22l002-webfont.woff') format('woff'),
         font-url('titilliumtext22l002-webfont.ttf') format('truetype'),
         font-url('titilliumtext22l002-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;

}