<!DOCTYPE html>
<html>
<head>
  <title>AcControl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>A/C Controller</h1>
    <div id="flash_hook"></div>
    <%= yield %>
  </div>

</body>
</html>
